@font-face {
    font-family: fcb-bold;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Bold.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Bold.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fcb-extra-bold;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Extrabold.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Extrabold.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fcb-light;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Light.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Light.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fcb-semi-bold;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Semibold.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Semibold.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fcb-regular;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Regular.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Regular.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    box-sizing: border-box;
    resize: none;
    font-family: fcb-regular,Arial,Helvetica Neue,Helvetica,sans-serif;
}
body {
    width: 1920px;
    height: auto;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
.barcelona_page {
    width: 1920px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
}
.barcelona_page_container {
    width: 1920px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
}
.barcelona_page_middle {
    width: 1920px;
    height: auto;
    min-height: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 128px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    display: inline-block;
}
.barcelona_page_middle_container {
    width: 1920px;
    height: auto;
    min-height: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
}
.barcelona_page_middle_dreamwithyoureyesopen {
    width: 1920px;
    height: 440px;
    background-color: #181733;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
}
.barcelona_page_middle_dreamwithyoureyesopen_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 228px;
    padding-right: 228px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_image {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_image img {
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_fullgradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(24,23,51,0) 0,rgba(24,23,51,.3) 20%,#181733 75%);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_sidebars {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_sidebars_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_sidebars_left {
    width: 24px;
    height: 240px;
    background-color: #154284;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    left: 0px;
    top: 145.188px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_sidebars_right {
    width: 24px;
    height: 144px;
    background-color: #cd122d;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    right: 0px;
    top: 40.813px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_bottomgradient {
    width: 100%;
    height: 128.26px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_bottomgradient_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_bottomgradient_full {width: 100%;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    background: linear-gradient(0deg,#181733 15%,rgba(24,23,51,.45) 55%,rgba(24,23,51,0));
}
.barcelona_page_middle_dreamwithyoureyesopen_content_bottomgradient_half {
    width: 1240px;
    height: 120px;
    background-image: linear-gradient(90deg,#154284,#cd122d,#fdc52c);
    filter: blur(50px);
    border-radius: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: -100px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text {
    width: 100%;
    height: 143px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 48px;
    padding-right: 48px;
    position: absolute;
    bottom: 28px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_header {
    width: 100%;
    height: 58px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_header span {
    color: #fdc52c;
    font-family: fcb-extra-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 52px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_description {
    width: 100%;
    height: 35px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_description span {
    font-size: 14px;
    font-weight: 400;
    font-family: fcb-light,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: white;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_link {
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 18px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_link_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_link_button {
    width: 116px;
    height: 32px;
    background: linear-gradient(270deg, #154284, #cd122d);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: margin-top 0.5s;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_link_button_container {
    width: 116px;
    height: 32px;
    background-color: #cd122d;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_link_button_container span {
    font-size: 12px;
    font-style: normal;
    font-family: fcb-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    text-transform: uppercase;
    color: white;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_link_button:hover {
    margin-top: 5px;
    transition: margin-top 0.5s;
}
.barcelona_page_middle_dreamwithyoureyesopen_content_text_link_button:hover .barcelona_page_middle_dreamwithyoureyesopen_content_text_link_button_container {
    background-color: transparent;
    transition: background-color 0.25s;
}