@font-face {
    font-family: fcb-bold;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Bold.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Bold.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fcb-extra-bold;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Extrabold.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Extrabold.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fcb-light;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Light.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Light.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fcb-semi-bold;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Semibold.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Semibold.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fcb-regular;
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Regular.eot');
    src: url('../../../../../barcelona_fonts/FC_BARCELONA-Regular.woff2') format('woff2'), url('../../../../../barcelona_fonts/FC_BARCELONA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    box-sizing: border-box;
    resize: none;
    font-family: fcb-regular,Arial,Helvetica Neue,Helvetica,sans-serif;
}
body {
    width: 1920px;
    height: auto;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
.barcelona_page {
    width: 1920px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
}
.barcelona_page_container {
    width: 1920px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
}
.barcelona_page_middle {
    width: 1920px;
    height: auto;
    min-height: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 128px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    display: inline-block;
}
.barcelona_page_middle_container {
    width: 1920px;
    height: auto;
    min-height: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
}
.barcelona_page_middle_theculerswall {
    width: 1920px;
    height: 492px;
    background-color: #181733;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
}
.barcelona_page_middle_theculerswall_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 204px;
    padding-right: 204px;
}
.barcelona_page_middle_theculerswall_content {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.barcelona_page_middle_theculerswall_content_background {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
}
.barcelona_page_middle_theculerswall_content_background img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 22px;
    padding-bottom: 48px;
    padding-left: 32px;
    padding-right: 32px;
    position: absolute;
}
.barcelona_page_middle_theculerswall_content_text_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_sponsor {
    width: 100%;
    height: 30px;    
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcelona_page_middle_theculerswall_content_text_sponsor span {
    font-family: fcb-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: hsla(0, 0%, 100%, 0.7);
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid rgb(238, 238, 238);
    padding-right: 12px;
}
.barcelona_page_middle_theculerswall_content_text_sponsor svg {
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_title {
    width: 100%;
    height: 102px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 22px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcelona_page_middle_theculerswall_content_text_title_white {
    font-size: 62px;
    font-style: italic;
    font-weight: 400;
    color: white;
    font-family: fcb-extra-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_title_yellow {
    font-size: 62px;
    font-style: italic;
    font-weight: 400;
    color: #fdc52c;
    font-family: fcb-extra-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_divider {
    width: 100%;
    height: 23px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 36px;
    padding-right: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcelona_page_middle_theculerswall_content_text_divider_line {
    width: 595.969px;
    height: 1px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_divider_text {
    width: auto;
    height: auto;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_divider_text span {
    color: #fdc52c;
    font-size: 16px;
    font-family: fcb-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction {
    width: 100%;
    height: 227px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_prompt {
    width: 100%;
    height: 124px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_prompt span {
    font-size: 50px;
    line-height: 62px;
    color: white;
    font-family: fcb-extra-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_link {
    width: 100%;
    height: 71px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_link_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_link_button {
    width: 250px;
    height: 39px;
    background: linear-gradient(270deg, #154284, #cd122d);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin-top 0.5s;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_link_button_container {
    width: 250px;
    height: 39px;
    background-color: #cd122d;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_link_button span {
    font-size: 12px;
    font-style: normal;
    font-family: fcb-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    text-transform: uppercase;
    color: white;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_link_button:hover {
    margin-top: 5px;
    transition: margin-top 0.5s;
}
.barcelona_page_middle_theculerswall_content_text_userinteraction_link_button:hover .barcelona_page_middle_theculerswall_content_text_userinteraction_link_button_container {
    background-color: transparent;
    transition: background-color 0.25s;
}